body{
  background-color: white;
     font-family: poppins

}

.container{
  background-color: white;
    width: 700px;
    height: 700px ;
    margin:650px;
    margin-bottom:20px;
    margin-top: -727px; 
    text-align: justify;
    
  }
  .container1{
        margin-left: 100px;
        margin-top: 25px;
       
      }
