*{
    margin: 10px;
    padding: 8px;
  }
  body{
    font-family: 'Poppins', sans-serif;
    background-color: #d3d0f9;
  
  
  }
  .top{
    display: flex;
  }
  .container{
    padding: 10px;
  
  }
  
  h1{
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    font-weight: bold;
  }
  form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    margin-top: 10;
  }
  
  label {
    margin-bottom: 5px;
    display: block;
  }
  
  input, textarea, select {
    width: 800 px;
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 20px;
  }
  
  textarea {
    height: 100px;
  }
  
  button {
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: #46436E;
    color: white;
  }
  
  #task-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #task-list li {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
  }
  