*{
  margin:px;
  padding: px;
  box-sizing: border-box;
  transition: .2s linear;
  font-family: 'Poppins', sans-serif;
  
}

.container{
  background-color: #fff;
  border-radius: px;
  padding: 30px 70px;
  
  gap: 1px;
  grid-template-columns: repeat(auto-fit,minimax(270px,1fr));
}

.top{
  display: flex;
  justify-content: space-around;
}

body{
  font-family: 'Poppins', sans-serif;
  margin: auto;
  margin: 30px;
}

.profile{
  margin-top: 40px;
  height: 100px;
  display: flex;
}

.profile img{
  width: 100px;
  height: 100px;
}

.profile h2{
  margin-top: 30px;
  font-size: 18px;
}

.profile span{
  font-size:14px;
  color: rgb(148, 148, 148);
  margin-top: 30px;
}

.menu{
  width: 400px;
  float: left;
  height: 70px;
  padding-left: 40px;
  margin: auto;
}

ul{
  float: left;
  display: flex;
  
  align-items: center;
  cursor: pointer;
}

ul li{
  list-style: none;
  margin-left: 62px;
  margin-top: 27px;
  font-size: 14px;
}

ul li a{
  text-decoration: none;
  color: rgb(148, 148, 148);
  font-family: arial;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}

ul li a:hover{
  color: #46436E;
}
ul li a span{
  background-color: #46436E;
  color: #fff;
  border-radius: 360px;
  font-size: 32px;
  justify-content: center;

  
  
}
.material-symbols-outlined{
  background-color: #46436E;
  border-radius: 360px;
   padding: 4px;
   margin-top: 2px;
   color: #fff;
   cursor: pointer;
   justify-content: space-between;
}

.status{
  width: 100%;
  height: 90px;
  overflow: hidden;
  margin-top: 70px;
}



.search{
  width: 100%;
  max-width: 1250px;
  background-color: rgba(70, 36, 36, 0.2);
  display: flex;
  
  border-radius: 80px;
  padding: 8px 18px;
}
.search input{
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 15px 15px;
  font-size: 18px;
  color: #1a351a ;
}
::placeholder{
  color: #1a1665;
}
.search button img{
  width: 55px;

}
.search button{
  border: 0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: transparent;
  cursor: pointer;
}


.main{
  position: relative;
  padding: 0px;
  width: 100%;
  padding-right: 80px;
}
.main-top{
  display: flex;
  width: 100%;
}
.main-skill{
  margin-top: 10px;
  display: flex;
}
.main-skill .card{
  width: 80%;
  margin: 10px;
  background-color: #b4aff2;
  text-align: center;
  border-radius: 20px;
  padding: 60px;
  box-shadow: 0 20px rgba(0,0,0,0.01);
}
.main-skill .card h3{
  margin: 0px;
  text-transform: capitalize;
}
.main-skill .card button{
  background: #b4aff2;
  color: #fff;
  padding: 7px 15px;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
  border: none;
}
.main-skill .card button:hover{
  background: #b4aff2;
}
.task{
  position: relative;
  padding: px;
  width: 100%;
}
.task-list{
  background:transparent;
  background-color: rgba(70, 36, 36, 0.2);
  display: flex;
  width: 100%;
  margin-top: 25px;
  justify-items: center;
  gap: 1000px;

}
.task-list a{
  font-size: 24px;
}
.material-symbols-outlined{
  font-size: large;
}
.task-li ul li{
  justify-content: space-between;
  font-size: 24px;
}


