@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}
body{
  background-color: #847fc9;
     font-family: poppins

}
::selection{
  background: rgba(26,188,156,0.3);
}
.container{
background-color: white;
  max-width: 300px;
  padding: 20px;
  margin: 8%  auto 0;
}

.wrapper .title{
font-family: 'Poppins';
  height: 90px;
  border-radius: 5px 5px 0 0;
  color: #46436E;;
  font-size: 50px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .title1{
font-family: 'Poppins';
  border-radius: 0px 0px 0 0;
  color: #808080;;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper form{
  padding: 30px 20px 25px 25px;
}
.wrapper form .row{
  height: 45px;
  margin-bottom: 15px;
  position: relative;
}
.wrapper form .row input{
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 60px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 12px;
  transition: all 0.3s ease;
}

.wrapper form .row i{
  position:absolute;
  width: 47px;
  height: 100%;
  color:#46436E ;
  font-size: 18px;
  background: White;
  border: 1px solid #847fc9;
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper form .pass{
  margin: -8px 0 20px 0;
}
.wrapper form .pass a{
  color: White;
  font-size: 17px;
  text-decoration: none;
}
.wrapper form .pass a:hover{
  text-decoration: underline;
}
.wrapper form .button input{
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  padding-left: 0px;
  background:  #46436E;
  border: 1px solid #16a085;
  cursor: pointer;
}
form .button input:hover{
  background: #12876f;
}
.wrapper form .signup-link{
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
}
.wrapper form .signup-link a{
  color: #16a085;
  text-decoration: none;
}
form .signup-link a:hover{
  text-decoration: underline;
}