.cTask-card {
    /* background-color: #fff; */
    border-radius: 0.5rem;
    background-color: #fff !important;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 1.25rem 1.5rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    max-width: 600px;
    margin: auto;

  }
  .submit{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .heading{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  label {
    display: block;
    margin-top: 0.5rem;
  }
  
  input[type="text"],
  input[type="date"],
  select,
  textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #e6e6e6;
    margin-top: 0.25rem;
    border-radius: 0.25rem;
  }
  
  .add-button {
    background-color: #5b08a7;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
  }
  
  .project-section {
    margin-top: 1rem;
    display: none;
  }
  
  .project-list {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
  
  .create-project {
    margin-top: 1rem;
    display: initial;
  }
  /* .create-projectshow {
    margin-top: 1rem;
    display: initial;
  } */
  
  .create-project input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #e6e6e6;
    border-radius: 0.25rem;
    margin-top: 0.25rem;
    
  }
  
  .add-button + .create-project {
    margin-top: 1rem;
  }
  
  h3 {
    margin-top: 1rem;
  }
  
  p {
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
  }
  
  label {
    margin: 0 0.25rem;
    cursor: pointer;
    color: #5b08a7;
  }
  .active1{
    /* margin: auto; */
    padding: 10px;
    /* box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1); */
    max-width: 1000px;
    padding: 20px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .hide{
    display: none;
  }
  h1{
    margin: auto;
  }
  .active1 > h1{
    margin: auto;
    text-align: center;
    align-items: center;
    margin-bottom: 10px;

  }
