

.calendar {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    max-width: 800px;
    margin: auto;
   
}

.header {
    background-color: #46436E;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    padding: 10px;
}

.day {
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.day:hover {
    background-color: #3498db;
    color: #fff;
}
#next{
    cursor: pointer;
}
#prev{
    cursor: pointer;
}